<section>
  <h1>Barcharts</h1><fa-icon [icon]="faDumbbell"></fa-icon>
  <h3>The app that lets you control your workouts</h3>
  <p>
    Barcharts is an app which allows you to create your own workouts they way you want them. Create workouts with your own custom exercises and schedules.
    Set fitness goals so you will always know what you are reaching for. Track your body's fitness over time and be aware of your overall progress. See your goals
    and progress over time in an easy to understand format.
  </p>

  <p>

    Don't be constrained by other fitness apps that don't allow you to make changes to your workout routines. The same workout routines can become boring and may not provide
    the challenge your body needs to push your fitness level even higher.
  </p>

  <p><a href="#">Register Now</a> for your free Barcharts account.</p>

</section>
<section>
  <h1>All the flexibility to work on your flexibilty</h1>
  <h3>Barcharts allows you to:</h3> 
  <ul>
    <li>
      Create unique excercises
      <ul>
        <li>picture</li>
        <li>Choose from many excercises and configure them any way you desire</li>
      </ul>
    </li>
    <li>
      No more canned workouts
      <ul>
        <li>picture</li>
        <li>Add excercises to your workout to tailor your personalized fitness experience</li>
      </ul>
    </li>
    <li>
      It's leg day!
      <ul>
        <li>picture</li>
        <li>Get a heads up visual of what workouts you have scheduled on the calendar.</li>
      </ul>
    </li>
  </ul>
</section>

<section>
  <h1>Tracking your progress shouldn't be a heavy lift</h1>
  <ul>
    <li>
      Set Fitness Goals
      <ul>
        <li>
          picture
        </li>
        <li>
          Set fitness goals with goal dates to help keep consistent motivation.
        </li>
      </ul>
    </li>
  </ul>
  <ul>
    <li>
      Log Your Progress
      <ul>
        <li>
          picture
        </li>
        <li>
          Use Barcharts to log your weight and BMI to track your progress towards your fitness goals.
        </li>
      </ul>
    </li>
  </ul>

  <ul>
    <li>
      Fitness is Trending
      <ul>
        <li>
          picture
        </li>
        <li>
          See charts of your fitness progress checkins and visualize how close you are getting to your fitness goals.
        </li>
      </ul>
    </li>
  </ul>
</section>

