.exercise-modal-container {
  display: flex;
  flex-direction: column;
}

  .exercise-modal-container > * {
    width: 100%;
    margin: 0 20px;
  }

  .exercise-modal-container .input {
  }

table {
  width: 100%;
}
